<mat-card class="max-w-lg mx-auto mt-32 p-8">
  <div class="text-center mb-6">
    <h1 class="text-3xl font-semibold text-primary">Forgot Password</h1>
  </div>
  <mat-form-field appearance="outline" class="w-full mb-4 rounded-sm">
    <mat-label>Email address</mat-label>
    <input
      type="email"
      class="rounded-none"
      placeholder="name@example.com"
      autocomplete="email"
      name="email"
      matInput
      #txtEmail
    />
  </mat-form-field>

  <button
    mat-flat-button
    color="primary"
    type="submit"
    class="rounded-sm w-full py-2"
    (click)="passwordReset(txtEmail.value)"
  >
    Send</button
  >`
</mat-card>
