@use "@angular/material" as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

@include mat.core();

body {
  font-family: "Josefin Sans", sans-serif;
}

// Light theme
$light-primary: mat.m2-define-palette(mat.$m2-blue-palette, A400, A100, A700);
$light-accent: mat.m2-define-palette(mat.$m2-amber-palette, A200, A100, A400);
$light-warn: mat.m2-define-palette(mat.$m2-red-palette, 500, 300, 700);
$light-background: mat.m2-define-palette(
  mat.$m2-light-blue-palette,
  50,
  100,
  200
);

$lightTheme: mat.m2-define-light-theme(
  (
    color: (
      primary: $light-primary,
      accent: $light-accent,
      warn: $light-warn,
    ),
    background: $light-background,
  )
);

// Dark theme
$dark-primary: mat.m2-define-palette(mat.$m2-blue-grey-palette, 100, 400, 800);
$dark-accent: mat.m2-define-palette(mat.$m2-cyan-palette, A400, A200, A700);
$dark-warn: mat.m2-define-palette(mat.$m2-deep-orange-palette, 600, 400, 800);
$dark-background: mat.m2-define-palette(
  mat.$m2-blue-grey-palette,
  900,
  800,
  700
);

$darkTheme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $dark-primary,
      accent: $dark-accent,
      warn: $dark-warn,
    ),
    background: $dark-background,
  )
);

.light-theme {
  @include mat.all-component-themes($lightTheme);

  body {
    background-color: mat.m2-get-color-from-palette($light-background, default);
    color: mat.m2-get-color-from-palette($light-primary, 600);
  }

  a {
    &.active {
      color: mat.m2-get-color-from-palette($light-primary, 900);
    }
  }

  mat-paginator,
  mat-card,
  mat-card-content,
  mat-card-actions,
  mat-stepper,
  mat-form-field .mat-input-element {
    background-color: mat.m2-get-color-from-palette(
      $light-background,
      default
    ) !important;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text !important;
    background-clip: text !important;
    -webkit-text-fill-color: #432021;
  }
}

.dark-theme {
  @include mat.all-component-colors($darkTheme);

  body {
    background-color: mat.m2-get-color-from-palette($dark-background, default);
    color: mat.m2-get-color-from-palette($dark-primary, 200);
  }

  a {
    &.active {
      color: mat.m2-get-color-from-palette($dark-accent, 200);
    }
  }

  mat-paginator,
  mat-card,
  mat-card-content,
  mat-card-actions,
  mat-stepper,
  mat-form-field .mat-input-element {
    background-color: mat.m2-get-color-from-palette(
      $dark-background,
      default
    ) !important;
  }

  .mat-mdc-paginator-range-label,
  .mat-mdc-paginator-page-size {
    color: mat.m2-get-color-from-palette($dark-primary, 200);
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-background-clip: text !important;
    background-clip: text !important;
    -webkit-text-fill-color: #e3e4e5;
  }
}

.mdc-button,
.mdc-raised-button,
.mdc-stroked-button,
.mdc-flat-button {
  @apply rounded-md;
}

.container {
  @apply mx-auto max-w-screen-2xl;
}

button.match-input-height {
  height: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch {
  border-right-style: none !important;
}

.mat-mdc-snack-bar-container.snack-error {
  --mdc-snackbar-container-color: red;
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}
.mat-mdc-snack-bar-container.snack-success {
  --mdc-snackbar-container-color: green;
  --mat-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

button:disabled {
  cursor: not-allowed;
}
