.delivery-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

mat-radio-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

label {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
}

mat-radio-button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
